# The port on which Nextcloud will be available via HTTPS
HTTPS_PORT=8443
REDIRECT_URL=127.0.0.1:58443

# Database configuration
MYSQL_ROOT_PASSWORD=root_password_change_me
MYSQL_PASSWORD=nextcloud_db_password_change_me
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
